<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Oracle.ManagedDataAccess" version="19.11.0" targetFramework="net45" />
  <package id="SharpPdb.Windows" version="1.0.4" targetFramework="net45" />
  <package id="SharpUtilities" version="1.4.6" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net45" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net45" />
</packages>